<ion-header>

  <ion-toolbar color="warning">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Clases Registradas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-card>
    <ion-list>
      <ion-item-group *ngFor="let a of clases">
        <ion-item-divider>
          <ion-label>
            {{a.fecha}} 
          </ion-label>
        </ion-item-divider>
    
        <ion-item>
          <ion-label>{{a.clase}}</ion-label>
        </ion-item>

      </ion-item-group>
    
     
    </ion-list>




  </ion-card>
  

</ion-content>
